/* for JSColor - start */
.jscolor {
  border-style: solid;
  border-radius: 5px;
  height: 35px;
  width: 120px;
  margin-left: 3px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
/* for JSColor - end */

/* for mobile screen message - start */
.mobile-message {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile-message {
    display: flex;
    position: absolute;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
  }
}
/* for mobile screen message - end */

/* canvas styling - start */

/* TODO: background color will need to be changed  */
canvas#canvas {
  background-color: lightcoral;
  position: absolute;
  /* toolbar at the top has a height of 50px hence need to account for that */
  top: 50px;
  cursor: crosshair;
  z-index: 10;
}

/* canvas styling - end */
