/* for JSColor */
.jscolor {
  border-style: solid;
  border-radius: 5px;
  height: 35px;
  width: 120px;
  margin-left: 3px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

/* for mobile screen message */
.mobile-message {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile-message {
    display: flex;
    position: absolute;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
  }
}
